/* CSS sections
1. Imports
2. Universal code 
3. Navigation bar
4. Hero splash
5. About me
6. Projects
7. Skills and experience
8. Contact
9. Footer */

/* 1. Imports */
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Rock+Salt&family=Sedgwick+Ave&family=Archivo+Black&family=Varela+Round&display=swap');


/* 1. Universal code */


body{
    font-size: 20px;
    margin: auto;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    min-height: 50rem;
}

h1 {
    font-family: 'Rock Salt', cursive;
    /* font-family: 'Sedgwick Ave', cursive; */
    color: black;
    background-image: linear-gradient(125deg, #00d9ff, #ac19b1, #af0699);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 3.5rem;


}

h2 {
    font-family: 'Quicksand', sans-serif;


}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2rem;

}

h4, h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

}


button {
    appearance: none;
    background-color: white;
    border: 2px solid #394955;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    min-height: 50px;
    min-width: 0;
    outline: none;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #0055B2;
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}
    
/* 2. Navigation bar  */

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: rgba(255,255,255,0.01);
    z-index: 10;   
    transition: all 0.3s;

}

.navBarTransparentBackground {
    transition: all 0.3s;
    background-color: rgba(19,180,252,1);
    z-index: 10;   

}

.navIcon p {
    display: inline-flex;
    padding-left: 1rem;
    color: white;
}

.navBar ul, li, a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

.navBar li  {
    padding: 0px 2rem;
 }

.navBar li a {
    padding: 0 1.5rem;
    transition: all 0.3s ease 0s;
    
 
}

.navBar li a:hover {
    color:blueviolet;
  
}

/* 3. Hero splash */

.heroBox{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    padding: 100px;

}

.heroContent{
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: auto;
    
}


.heroText{
    text-align: center;
    color: black;
    margin: auto;
    
}


.heroText span {
    color: black;
}
.heroButtons{

}

.icons img{
    position: relative;
    display: inline-block;
    max-width: 2rem;
}

/* arrow animation */

/* 4. About me */

.aboutMe{
    display: flex;
    position: relative;
    margin: auto;
    height: 30rem;
    background-color: #ac19b1;

}

.custom-shape-divider-top-1669886866 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1669886866 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
}

.custom-shape-divider-top-1669886866 .shape-fill {
    fill: #FFFFFF;
}


.aboutMeContent {
    max-width: 1200px;
    margin: auto;

}

.aboutMe img{
    max-width: 12vw;
    border-radius: 60px;
    margin:auto;
}

.aboutMeTitle{
    display: inline-flex;
    margin:auto;
    padding-left: 25px;
}

.aboutMeTextButtonToggle{
color: black;
}

.aboutMeButtons button {

}

#shortAboutMeText{

}

#longAboutMeText{
    display: none;
}

/* button  */

.aboutMeToggleContainer {
    display: flex;
}

.aboutBtn {
    position: relative;
    height: 3.3rem;
  }

.aboutBtn input  {
    position: relative;
    width: 13rem;
    height: 3rem;
    border-radius: 100px;
    outline: none;
    appearance: none;
    font-weight: 400;
    background-color: grey;

}

.aboutBtn input::before,
.aboutBtn input::after{
    z-index: 2;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #111;
    font-weight: bolder;
}

.aboutBtn input::before {
    content: "Long story";
    left: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.aboutBtn input::after {
    content: "Short story";
    right: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.aboutBtn label{
    z-index: 1;
    position: absolute;
    top: 1px;
    bottom: 1px;
    border-radius: 100px;
    width: 6.9rem;
    box-shadow: 0 0px 10px rgba(0,0,0,0.25);

}


.aboutBtn.aboutBtn-1 input {
    transition: 0.25s -0.1s;
}

.aboutBtn.aboutBtn-1:checked {
    background-color: #34323D;
}

.aboutBtn.aboutBtn-1:checked::before {
    color:#111;
    transition: color 0.5s;
   }

.aboutBtn.aboutBtn-1:checked::after {
color:#111;
transition: color 0.5s;
}


.aboutBtn.aboutBtn-1 input:checked+label {
    left: 3px;
    right: 8rem;
    background-color: white;
    transition: left 0.5s, right 0.4s;
}

.aboutBtn.aboutBtn-1 input:not(:checked){
    background-color: lightblue;
    transition: background-color 0.5s;

}

.aboutBtn.aboutBtn-1 input:not(:checked):before{
    color: #111;
    transition: color 0.5s;
    font-weight: 400;   

}

.aboutBtn.aboutBtn-1 input:not(:checked):after{
    color: #1e1e1e;
    transition: color 0.5s;
    font-weight: bold;   

}

.aboutBtn.aboutBtn-1 input:not(checked) + label {
    left: 6.39rem;
    right: 1px;
    background-color: #fff;
    transition: left 0.4s, right 0.5s, background-color 0.35s;

}

/* button end */

.ittyBittyImg{

}
.nittyGrittyImg{

}

/* 5. Projects */

.projects{

}
.projectText{

}
.projectCardContainer{

}
.projectCards{

}
.projectCards img{

}
.projectCards p{

}

/* 6. Skills and experience */

.skills{

}
.skillsText{

}
.skillsImg{

}

/* 7. Contact */

.contact{

}
.contactText{

}
.contactForm{

}

/* 8. Footer */

footer {
    position: inline-block;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    background-color: blue;
    transition: all 1s;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-text: center;
    
}

footer li{
    display: inline-flex;
    justify-self: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: black;
    width: 150px;
    padding: 1rem 1.5rem;
    display: block;
    text-transform: lowercase;
    font-weight: bold;
    text-align: center;
}

